*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}


#main{
    height: 100%;
    width: 100%;
    background-color: #dadada;
}

#main img{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    position: absolute;
    height: 70%;
    width: 25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#main #one{
    z-index: 999;
}

#main #two{
    left: 30%;

}

#main #titel
{
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%,-50%);
    font-family: gilroy;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 500;
    opacity: 0.4;

}
#main #titel:hover
{
    transition: cubic-bezier(0.19, 1, 0.22, 1)  1s;
    color: rgba(255, 0, 0, 0.548);
    font-size: 70px;
    font-weight: 600;
}
#main #three{
    left: 70%;
}

#main img:hover{
    /* position: relative; */
    /* transition: cubic-bezier(0.19, 1, 0.22, 1) 1s; */
    /* z-index: 1000; */
    height: 80%;
    width: 30%;
}

